apiVersion: apps/v1
kind: Deployment
metadata:
  name: node-exporter
  namespace: monitoring
spec:
  replicas: 1
  selector:
    matchLabels:
      app: node-exporter
  template:
    metadata:
      labels:
        app: node-exporter
    spec:
      containers:
        - name: exporter
          image: prom/node-exporter:v1.6.1
          ports:
            - containerPort: 9100
          resources:
            requests:
              cpu: 20m
              memory: 64Mi
            limits:
              memory: 128Mi
---
apiVersion: v1
kind: Service
metadata:
  name: exporter
  namespace: monitoring
spec:
  selector:
    app: node-exporter
  type: NodePort             # NodePort para acesso externo
  ports:
    - port: 9100
      targetPort: 9100
      nodePort: 31000        # porta que o cluster observability vai scrapear
