serviceAccount:
  create: true

resources:
  requests:
    cpu: 30m
    memory: 64Mi
  limits:
    memory: 128Mi

config:
  service: |
    [SERVICE]
        Flush        1
        Daemon       Off
        Log_Level    info
        Parsers_File /fluent-bit/etc/parsers.conf

  inputs: |
    [INPUT]
        Name              tail
        Path              /var/log/containers/*.log
        Tag               kube.*
        Mem_Buf_Limit     10MB
        Skip_Long_Lines   On
        Refresh_Interval  5

  filters: |
    [FILTER]
        Name                kubernetes
        Match               kube.*
        Kube_URL            https://kubernetes.default.svc:443
        Merge_Log           On
        Keep_Log            Off
        K8S-Logging.Parser  On
        K8S-Logging.Exclude On

    # Deixa só namespace apps para reduzir ruído
    [FILTER]
        Name    grep
        Match   kube.*
        Regex   $kubernetes['namespace_name'] ^apps$

  outputs: |
    # Elasticsearch
    [OUTPUT]
        Name            es
        Match           kube.*
        Host            host.docker.internal
        Port            30002
        Index           apps-logs
        Type            _doc
        Logstash_Format On
        Retry_Limit     False
        Suppress_Type_Name On

    # Loki
    [OUTPUT]
        Name            loki
        Match           kube.*
        Host            host.docker.internal
        Port            30001
        URI             /loki/api/v1/push
        Labels          job=fluentbit,namespace=$kubernetes['namespace_name'],pod=$kubernetes['pod_name'],container=$kubernetes['container_name']
        Line_Format     json
