apiVersion: apps/v1
kind: Deployment
metadata:
  name: mario-deployment
spec:
  replicas: 2  # Quantidade de pods (instâncias do jogo)
  selector:
    matchLabels:
      app: mario
  template:
    metadata:
      labels:
        app: mario
    spec:
      containers:
      - name: mario-container
        image: sevenajay/mario:latest  # Imagem Docker do Super Mario
        ports:
        - containerPort: 80  # Porta que o container expõe
